<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Расписание</title>
</head>
<body>
    <h1>Главная страница</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <h2>Создать расписание</h2>
    <form action="{{ url_for('create_schedule') }}" method="POST">
        <label for="new_password">Придумайте и запомните новый пароль:</label>
        <input type="text" id="new_password" name="new_password" required>
        <button type="submit">Создать расписание</button>
    </form>

    <h2>Открыть расписание</h2>
    <form action="{{ url_for('view_schedule') }}" method="POST">
        <label for="password">Введите пароль:</label>
        <input type="text" id="password" name="password" required>
        <button type="submit">Открыть расписание</button>
    </form>
</body>
</html>